/*
.App {
  text-align: center;
}
*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sidebar nav.panel {
  margin: 0;
}

#sidebar nav.panel .panel-heading {
  border: none;
}

// base16 text: #d8d8d8
$editor-text: #d8d8d8;

// vs-dark default bg: #1e1e1e
// base16 bg: #1e1e1e
$editor-bg: #181818;

$error-red-full: hsl(17.0, 100%, 40%);
$error-red-dark: hsl(17.0, 100%, 5%);

#root .monaco-editor .minimap-slider,// not overriding the minimap, good as is
#root .monaco-editor,
#root .monaco-editor-background,
#root .monaco-editor .inputarea.ime-input,
#root .monaco-editor .margin {
  background-color: $editor-bg;
}

#root .editor_error_margin {
  background-color: $error-red-full;
  margin-left: 7px;
  width: 10px !important;
}

#root .editor_error_line {
  background-color: $error-red-dark;
}

.status-bar {
  color: $editor-text;
  background-color: $editor-bg;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.no-margins,
.no-margins.columns.is-gapless:not(:last-child)
{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.shader-name-level {
  color: darken($editor-text, 20);
  background-color: darken($editor-bg, 1);
  max-height: 24px; // 2rem
  min-height: 24px; // 2rem
}

.shader-name-level.is-selected {
  color: darken($editor-text, 10);
  background-color: #000;
}

.shader-name-level.has-error,
.shader-name-level.is-selected.has-error {
  color: $error-red-full;
}

