@font-face {
	font-family: 'Iosevka Term Web';
	font-weight: 400;
	font-style: normal;
	src: url('/fonts/iosevka/woff2/iosevka-term-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-weight: 400;
	font-style: italic;
	src: url('/fonts/iosevka/woff2/iosevka-term-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-weight: 700;
	font-style: normal;
	src: url('/fonts/iosevka/woff2/iosevka-term-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-weight: 700;
	font-style: italic;
	src: url('/fonts/iosevka/woff2/iosevka-term-bolditalic.woff2') format('woff2');
}

